  body {
	padding-top: 20px;
	padding-bottom: 40px;
  }

  .container > hr {
	margin: 30px 0;
  }


   .front-back {
      background: no-repeat 25% 25% url('/assets/img/sun.jpg');
   }
  /* Main marketing message and sign up button */
  .jumbotron {
	margin: 60px 0;
	text-align: center;
  }
  .jumbotron h1 {
	font-size: 72px;
	line-height: 1;
  }
  .jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
  }

@media (max-width: 767px) {
  .jumbotron {
	margin: 30px 0;
	text-align: center;
  }
   .front-back {
      background: no-repeat 25% 25% url('/assets/img/sun.jpg');
   }
  .jumbotron h1 {
	font-size: 50px;
	line-height: 1;
  }
  .jumbotron .btn {
	font-size: 18px;
	padding: 7px 14px;
  }
}

  /* Supporting marketing content */
  .marketing {
	margin: 60px 0;
  }
  .marketing p + h4 {
	margin-top: 28px;
  }

.container.normal {
   background: no-repeat 25% 0% url('/assets/img/sun');
   background-size: 100px;
}
@media (max-width: 767px) {
   .container.normal {
      background: no-repeat 100% 0% url('/assets/img/logo_rascal_light_small.png');
      background-size: 100px;
   }
}

.blogPosts dd p {
   margin-bottom: 0;
}
.blogPosts dd {
   margin-bottom: 10px;
}

code.github .Keyword {
	color: #990000;
	font-weight: bold;
}

code.github .Constant {
	color: #dd1144;
}

code.github .Comment {
	color: #999988;
	font-style: italic;
}

code.github .MetaVariable {
	color: #009090;
}


code .Keyword {
	color: #7B0052;
	font-weight: 900;
}

code .Constant {
	color: #8B008B;
}
code .Variable {
	color: #55AA55;
}

code .Identifier {
	color: #2C577C;
}

code .Type {
	color: #AB2525;
}

code .Comment {
	color: #528D73;
	font-style: italic;
}

code .MetaVariable {
	color: #295F94;
	font-style: italic;
}

pre.rascal {
	border: 0;
	background: 0;
	margin-left: 10px;
	line-height: 1.3;
}




.content h1,
.content h2,
.content h3 {
  line-height: 30px;
}

.content h1 {
  font-size: 32.5px;
}

.content h2 {
  font-size: 25.5px;
}

.content h3 {
  font-size: 18.5px;
}

.content h4 {
  font-size: 15.5px;
}

.content h5 {
  font-size: 12.5px;
}

.content h6 {
  font-size: 11.9px;
}

pre.rascal,
.pre-scrollable-x {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

pre.rascal code {
  overflow-wrap: normal;
  white-space: pre;
}

pre .important {
	font-weight: 900;
}
